:root {
  font-family: Epilogue, sans-serif;
}

body {
  background: #E8D1D6;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Epilogue, sans-serif';
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}